@charset "UTF-8";
body {
  font-family: "Lato", sans-serif;
  min-width: 1170px;
  margin: 0;
  padding: 0; }

.header {
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff; }

.container {
  min-width: 1142px;
  max-width: 1142px;
  margin: 0 auto; }

.header-flex {
  display: flex;
  justify-content: space-between;
  height: 100%; }

.header-left {
  display: flex;
  align-items: center; }

.logo {
  display: flex;
  align-items: center;
  font-size: 27px;
  color: #222222;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase; }

.logo-d {
  color: #f16d7f;
  font-weight: 400; }

.header-form {
  display: flex;
  height: 38px;
  border-radius: 0 3px 3px 0;
  /*border: 1px solid #e6e6e6; */
  background-color: #ffffff;
  margin-left: 37px;
  border: none;
  outline: none; }

.header-right {
  display: flex;
  align-items: center; }

.button {
  line-height: 38px;
  background-color: #f16d7f;
  padding-left: 19px;
  padding-right: 19px;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.38px; }

a.button:hover {
  background-color: #f16d7fa8; }

.cart-img {
  margin-right: 26px;
  transition: transform 500ms; }
  .cart-img:hover {
    transform: rotate(-30deg); }

.menu {
  list-style-type: none;
  display: flex;
  height: 51px;
  justify-content: center; }

.menu-link {
  padding: 20px 15px;
  display: block;
  color: #222222;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 26px;
  transition: transform 100ms ease-in-out, -o-transform 100ms ease-in-out; }

.nav {
  background-color: #fff; }

.bunner {
  height: 614px;
  background-color: #e8e8e8; }

.bunner-back {
  background-image: url(../img/back-b.jpg);
  height: 100%;
  background-position: 0 -51px;
  display: flex;
  align-items: center; }

.fashion {
  font-size: 40px;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  line-height: 32px; }

.the-brand {
  font-size: 60px;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 45px; }

.bunner-text {
  border-left: 12px solid #f16d7f;
  padding-left: 12px; }

.fashion-span {
  color: #f16d7f; }

.browse {
  width: 87px;
  border: 1px solid #e6e6e6;
  outline: none;
  background: #cdcdcc linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 300ms ease-in-out, -o-transform 300ms ease-in-out; }
  .browse:hover p.searchB {
    /*background-color: #f1f1f1 */
    color: black;
    transform: scale(1.2, 1.2);
    cursor: pointer; }

#txtSearch {
  width: 280px;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.35px; }

.searchB {
  color: #222222;
  font-weight: 300;
  letter-spacing: 0.35px; }

input#txtSearch {
  width: 280px;
  padding: 0 10px 0 10px;
  font-size: 16px;
  border: 1px solid #e6e6e6;
  outline: none; }

.but-search {
  cursor: pointer;
  background-color: #ffffff;
  min-width: 38px;
  border: 1px solid #e6e6e6;
  outline: none;
  transition: transform 300ms ease, -o-transform 300ms ease-in; }

i.fa.fa-search {
  color: #a4a4a4; }

.but-search:hover i.fa.fa-search {
  color: black;
  transform: scale(1.2, 1.2); }

.menu-link:hover {
  border-bottom: 3px solid #ef5b70; }

/*╨Ъ╨░╤В╨╡╨│╨╛╤А╨╕╨╕ */
.categ {
  margin-top: 98px; }

.blok {
  height: 823px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  margin-bottom: 100px; }

.men {
  background: url(../img/man.jpg) no-repeat;
  width: 560px;
  height: 542px;
  text-decoration: none; }

.accessories {
  background: url(../img/accessories.jpg) no-repeat;
  width: 560px;
  height: 261px;
  background-color: #dadad2;
  background-position: 150px 0;
  text-decoration: none; }

.women {
  background: url(../img/women.jpg) no-repeat;
  width: 560px;
  height: 261px;
  text-decoration: none; }

.kids {
  background: url(../img/kids.jpg) no-repeat;
  width: 560px;
  height: 542px;
  text-decoration: none; }

.txt-cat1 {
  width: 175px;
  height: 82px;
  background-color: #ffffff;
  line-height: 41px;
  text-align: center; }

.txt-cat2 {
  width: 225px;
  height: 82px;
  background-color: #ffffff;
  line-height: 41px;
  text-align: center; }

.txt-cat3 {
  width: 162px;
  height: 82px;
  background-color: #ffffff;
  line-height: 41px;
  text-align: center; }

.txt-cat4 {
  width: 180px;
  height: 82px;
  background-color: #ffffff;
  line-height: 41px;
  text-align: center; }

.txt-black {
  color: #222222;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: -30px; }

.txt-red {
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px;
  text-transform: uppercase; }

/*fetured-items */
.prod {
  width: 263px;
  height: 364px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  position: relative;
  margin-bottom: 20px;
  display: flex; }

.fet-Txt {
  color: #222222;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 0.75px;
  text-align: center; }

.Shop-fet-txt {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.35px;
  text-align: center;
  margin-top: -36px; }

.shop-fet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.prod a {
  text-decoration: none; }

.name_prod {
  color: #222222;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 15px; }

.price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  padding-left: 15px; }

.button-prod {
  height: 54px;
  line-height: 54px;
  background-color: #f16d7f;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-decoration: none;
  padding-left: 27px;
  padding-right: 27px;
  transition: transform 1s ease-in-out; }
  .button-prod:hover {
    background-color: #f16d7fa8;
    transform: scale(0.9); }

.all-product {
  margin-top: 70px;
  display: flex;
  justify-content: center; }

.addToCart {
  position: absolute;
  margin: 0;
  width: 263px;
  height: 280px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(58, 56, 56, 0.83);
  display: none; }

.prod .addToCart .linkAddToCart {
  width: 123px;
  height: 39px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #fff;
  text-align: center;
  line-height: 39px; }

.shop-fet .prod:hover .addToCart {
  display: flex; }
.shop-fet .prod .addToCart:hover a {
  border: 2px solid #f16d7f; }

.i-cart {
  height: 22px;
  padding-right: 8px; }

.delivery-blok {
  background-color: #222224;
  height: 529px;
  margin-top: 113px;
  display: flex; }

.opis-del {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  text-align: center; }

.zag-del {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700; }

.free {
  max-width: 294px;
  display: flex;
  /*flex-flow: wrap; */
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 15px; }

.del-uslov {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-bottom: 20px; }

.forma {
  width: 40px;
  height: 40px;
  margin-right: 33px;
  margin-left: 36px;
  padding-top: 7px;
  transition: transform 300ms ease-in-out, -o-transform 300ms ease-in-out; }
  .forma:hover {
    transform: scaleX(1.25) scaleY(1.25); }

.opis {
  margin: 0; }

img.forma:hover {
  transform: translateX(15px); }

.fidback {
  width: 100%;
  margin-top: 0;
  background: url(../img/fidback.jpg) no-repeat center; }

.container-b {
  width: 1609px;
  margin: 0 auto; }

.Burhan-txt {
  width: 386px;
  color: #222224;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0.4px;
  float: right;
  padding-right: 70px;
  padding-top: 25px; }

.Burhan-name {
  margin-top: 12px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: -13px;
  font-style: normal; }

.dhaka {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px;
  font-style: normal; }

.Subscribe-div {
  display: flex;
  justify-content: flex-end; }

.binburhan {
  border-right: 1px solid #ffffff;
  width: 570px;
  height: 438px; }

figure.figure-m {
  margin: 0;
  padding-top: 111px; }

.Subscribe-form {
  width: 386px;
  min-height: 46px;
  border-radius: 23px;
  background-color: #e1e1e1;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box; }
  .Subscribe-form input[type="email"] {
    opacity: 0.67;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    border-radius: 23px;
    width: 282px;
    padding-left: 28px;
    padding-right: 106px;
    background-color: #e1e1e1;
    letter-spacing: 0.35px;
    min-height: 46px;
    border: none;
    outline: none; }

.but-Subscribe {
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  width: 104px;
  position: absolute;
  margin-left: 283px;
  padding-top: 2px;
  letter-spacing: 0.35px;
  border: none;
  box-sizing: border-box;
  outline: none;
  min-height: 48px;
  cursor: pointer; }
  .but-Subscribe:hover {
    background-color: #f16d7fa8; }
  .but-Subscribe:active {
    background-color: #e1e1e1; }

.sub-p {
  color: #ffffff;
  font-weight: 400; }

.subscribe {
  width: 570px;
  margin-top: 148px; }

.subscribe-p {
  text-align: center;
  letter-spacing: 0.35px;
  line-height: 24px; }

.subscribe-h3 {
  text-align: center;
  color: #222224;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-bottom: -11px; }

.Subscribe-block {
  display: flex;
  justify-content: center; }

.Burhan {
  float: left; }

.footer {
  height: 80px;
  background-color: #e6e6e6; }

footer {
  margin-top: 109px;
  margin-bottom: 89px; }

.icone-soc {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  margin-left: 8px;
  text-align: center;
  line-height: 32px;
  transition: transform 300ms ease-in-out, -o-transform 300ms ease-in-out; }
  .icone-soc:hover {
    color: #ffffff; }

.footer-right {
  display: flex;
  align-items: center; }
  .footer-right a {
    text-decoration: none;
    color: #b2b2b2;
    font-size: 16px;
    font-weight: 400; }
    .footer-right a:hover {
      text-decoration: none;
      background-color: #f16d7f;
      transform: scaleX(1.25) scaleY(1.25); }

.fot-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px; }

.foot-txt {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400; }

.info-foot {
  display: flex; }

.infofoot-p {
  width: 427px;
  min-height: 180px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px; }

.infofoot-tab ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.infofoot-right {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 64px; }

.redfoot-txt {
  width: 154px;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; }

.prod-info {
  padding-bottom: 25px; }
  .prod-info a {
    text-decoration: none;
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px; }
    .prod-info a:hover {
      color: #f16d7f; }

.slider {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  margin-left: 13px;
  margin-top: 7px; }
  .slider:hover {
    background: #f16d7f; }
  .slider:first-child {
    margin-left: 0; }

.del-women {
  background: url(../img/back_bottom.png) no-repeat;
  width: 767px; }

.discount {
  padding-left: 39px;
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 133px;
  margin-bottom: -40px; }

.dis-red {
  color: #f16d7f;
  letter-spacing: 1.5px; }

.dis-white {
  font-size: 32px;
  letter-spacing: 0.9px;
  padding-left: 39px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase; }

.menu-list {
  position: relative; }
  .menu-list:hover .pod {
    display: flex; }

.slider-all {
  display: flex; }

.item-product {
  width: 263px;
  position: relative;
  margin-bottom: 39px;
  transition: transform 300ms; }
  .item-product:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); }
    .item-product:hover .param-add {
      display: flex; }
    .item-product:hover .img-prod {
      filter: brightness(50%); }

.product {
  display: block;
  text-decoration: none; }

.param-add {
  position: absolute;
  top: 94px;
  display: none;
  justify-content: center;
  width: 263px; }

.prod-add {
  text-decoration: none;
  height: 39px;
  border: 1px solid #ffffff;
  display: block;
  padding-right: 14px;
  padding-left: 14px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 39px; }
  .prod-add:hover {
    box-shadow: 0 0 8px 1px; }

.prod-link {
  text-decoration: none;
  height: 234px;
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px; }
  .prod-link:hover {
    color: #f16d7f; }

.pod {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  position: absolute;
  display: none;
  top: 59px;
  left: -5px; }

.podul {
  list-style-type: none;
  padding: 0; }

.pod-heading {
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  border-bottom: 1px solid #e8e8e8;
  width: 235px;
  margin-bottom: 10px; }

.pod-flex {
  margin-right: 46px; }
  .pod-flex:last-of-type {
    margin-right: 0; }

.pod-img {
  padding: 0;
  height: 118px;
  background: url(../img/pod-img.png) no-repeat;
  text-decoration: none;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
  .pod-img:hover {
    border-bottom: none; }

.supr-link {
  color: #ffffff;
  font-size: 25px;
  font-weight: 900;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  margin: 0 0 7px; }

.arrivals {
  background-color: #f8f3f4;
  height: 148px;
  display: flex;
  align-items: center; }

.arrivals-right a {
  text-decoration: none; }

.h3-arrivals {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase; }

.arrivals-box {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.newright-black {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  color: #636363; }
  .newright-black:hover {
    color: #f16d7f;
    font-weight: 700; }

.newright-red {
  color: #f16d7f;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700; }

.m-link {
  list-style-type: none;
  padding-left: 22px; }

.nav-cat {
  min-width: 223px;
  min-height: 598px;
  margin-right: 50px; }

.sum-cat {
  max-width: 223px;
  height: 37px;
  color: #ef5b70;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  border-left: 3px solid #ef5b70;
  margin-bottom: 18px;
  padding-left: 10px;
  border-bottom: 1px solid #ebebeb;
  align-items: center;
  justify-content: space-between; }
  .sum-cat::-webkit-details-marker {
    display: none; }

.cat-link {
  text-decoration: none;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 33px; }
  .cat-link:hover {
    color: #f16d7f; }

.open {
  color: black; }

.category {
  display: flex; }

.filter {
  height: 74px;
  margin-bottom: 41px;
  display: flex; }

.sort {
  height: 50px;
  margin-bottom: 48px;
  display: flex;
  align-items: center; }

.f-tread-txt {
  display: flex;
  flex-flow: wrap; }

.ftreadtxt-link {
  display: flex;
  text-decoration: none;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; }
  .ftreadtxt-link span {
    color: #dfdfdf;
    margin-right: 5px;
    margin-left: 5px; }
  .ftreadtxt-link:hover {
    color: #f16d7f; }

.ftreading-h3 {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0;
  margin: 0; }

.f-treading {
  max-width: 177px;
  margin-right: 115px; }

.f-size {
  max-width: 236px;
  min-width: 236px;
  padding: 0;
  margin-top: 0;
  margin-right: 56px;
  margin-left: 0;
  margin-bottom: 0; }

.chk-txt {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-right: 23px; }

.fsize-h3 {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0; }

.fsize-chek {
  display: flex;
  flex-flow: wrap; }

.chk-chk {
  margin: 3px;
  padding: 0; }

.chk-txt-l {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-right: 44px; }

.fprice-h3 {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0; }

#range {
  width: 262px; }

.fprice-usd {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin: 0; }

#sort {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  border: none;
  outline: 1px solid #ebebeb; }

.sortby {
  height: 30px;
  background-color: #ffffff;
  outline: 1px solid #ebebeb;
  display: flex;
  max-width: 153px;
  margin-right: 10px; }

.sortby-link {
  text-decoration: none;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  outline: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb; }

.sortby-name {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; }

.sort__select {
  border: none;
  padding-left: 11px;
  outline: none;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; }

.sort-name {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; }

.page-grey {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  margin-right: 16px;
  text-decoration: none; }
  .page-grey:hover {
    color: #ef5b70; }

.page-red {
  color: #ef5b70;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  margin-right: 16px;
  margin-left: 16px;
  text-decoration: none; }

.page {
  margin-left: 223px;
  line-height: 44px;
  border-radius: 3px;
  outline: 1px solid #ebebeb;
  background-color: #ffffff;
  padding-left: 15px;
  padding-right: 15px; }

.but-view {
  display: block;
  text-decoration: none;
  color: #ef5b70;
  font-weight: bold;
  line-height: 44px;
  border: 1px solid #ef5b70;
  padding-left: 46px;
  padding-right: 46px;
  border-radius: 3px; }
  .but-view:hover {
    box-shadow: 0 0 8px 2px; }

.page-heading {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.page-grey3, .page-grey6 {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none; }

.page-grey3:hover {
  color: #ef5b70; }

.black-back {
  height: 341px;
  background-color: #222224;
  display: flex;
  margin-top: 125px; }

.free-p {
  max-width: 294px;
  display: flex;
  flex-flow: wrap;
  justify-content: center; }

.del-w {
  flex-flow: row;
  justify-content: space-between;
  margin-top: 89px; }

.cent-op {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  min-width: 219px; }

.p2 {
  min-width: 325px;
  margin-top: -10px; }

.free-delivery {
  margin-bottom: 97px; }

details[open] > .sum-cat::after {
  content: "▴";
  color: #ef5b70;
  transform: rotate(360deg);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.99px;
  text-transform: uppercase; }

.sum-cat::after {
  content: "▴";
  padding: 0 10px;
  transform: rotate(180deg);
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.99px;
  text-transform: uppercase; }

#tick {
  color: black; }

/*cart */
.product-details__box-header {
  display: flex;
  margin-bottom: 22px;
  border-bottom: 1px solid #eaeaea;
  justify-content: space-between; }

.product-details__box__header-blok:first-of-type {
  margin-right: 400px; }

.product-details__box__header-blok h2 {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  margin-bottom: 20px;
  margin-top: 20px; }

.blok-h3 {
  max-width: 450px; }

.quad {
  display: flex;
  justify-content: space-between; }

.product-details__box__product1-blok {
  display: flex;
  align-items: center; }

.product1__blok-img {
  text-decoration: none;
  display: flex;
  margin: 0; }

.name_product {
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px; }

.name_cols {
  color: #6f6e6e;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 0; }

.bol {
  color: #575757;
  font-weight: 400; }

.product-details__box__product1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 25px;
  padding-top: 25px; }

.product1__blok {
  margin: 0;
  padding: 0; }

.product-details__box__product1-blok:first-of-type {
  margin-right: 230px; }

.button__close {
  border-radius: 100px; }

.product1__blok-close {
  text-decoration: none;
  color: #c0c0c0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase; }
  .product1__blok-close:hover {
    color: #f16d7f; }

.product1__blok-input {
  width: 54px;
  text-align: center;
  border: 1px solid #eaeaea;
  background-color: #ffffff; }

.product1__blok {
  color: #656565;
  font-weight: 400;
  line-height: 20px;
  margin-right: 15px; }

.shop-button {
  margin-top: 44px;
  display: flex;
  justify-content: space-between; }

.shop-button__push {
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-decoration: none;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;
  padding-left: 38px;
  padding-right: 38px;
  transition: transform 1s; }
  .shop-button__push:hover {
    background-color: #f16d7fa8;
    transform: scale(0.9); }

.shipping-h3 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.shipping {
  margin-top: 63px;
  display: flex;
  margin-bottom: 79px; }

.sadress {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 390px; }

.sadress__city {
  color: #b1b1b1;
  font-weight: 300;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  padding-left: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 375px; }

.sadress__txt {
  color: #b1b1b1;
  font-weight: 300;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  padding-left: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 355px; }

.sadress__link {
  max-width: 122px;
  color: #4a4a4a;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 17px;
  text-align: center;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  transition: transform 1s; }
  .sadress__link:hover {
    background: #f16d7fa8;
    transform: scale(0.9); }

.discount-adress {
  display: flex;
  flex-flow: column;
  width: 390px; }

.discount__adress__p-left {
  color: #000000;
  font-weight: 300;
  text-align: left; }

.discount__adress-p {
  text-align: right;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase; }

.total {
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 276px;
  padding: 41px 43px;
  background-color: #f5f3f3; }

.grand-total {
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right; }

.grand__total-red {
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  margin-left: 20px; }

.grand__total-p {
  margin-left: 20px; }

.total-txt {
  border-bottom: 1px solid #eaeaea;
  margin: 0;
  padding: 0; }

.button-total {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 42px;
  background-color: #f16d7f;
  text-decoration: none;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  transition: transform 1s; }
  .button-total:hover {
    background-color: #f16d7fa8;
    transform: scale(0.9); }

.chekcout-box {
  margin-bottom: 93px; }

.det-chekbox__chekbox {
  width: 100%;
  /*color: #222222 */
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  margin: 32px 0 32px 0; }
  .det-chekbox__chekbox::-webkit-details-marker {
    display: none; }

.det-shipping {
  display: flex; }

.shipping-guest {
  width: 100%;
  flex: 1; }

.shipping-reg {
  min-width: 391px;
  flex: 0.8; }

.shipping-label {
  display: flex;
  flex-flow: column; }

.shipping-guest__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #4a4a4a;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  width: 180px;
  background-color: #f16d7f;
  transition: transform 1s ease-in-out; }
  .shipping-guest__link:hover {
    background-color: #f16d7fa8;
    transform: scale(0.9, 0.9); }
  .shipping-guest__link_plr {
    padding-left: 53px;
    padding-right: 53px; }

.shipping-guest__p {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; }
  .shipping-guest__p_pmb {
    margin-bottom: 23px; }

.shipping-guest__h2 {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase; }
  .shipping-guest__h2_mt {
    margin: 0; }

.shipping-label__name {
  color: #222222;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer; }
  .shipping-label__name_mbnull {
    margin: 0 10px 0 0; }
  .shipping-label__name_lmb {
    margin-bottom: 20px; }

.forgot {
  display: flex; }

.forg-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 50px;
  color: #4a4a4a;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  background-color: #f16d7f;
  transition: transform 1s ease-in-out; }
  .forg-button_fbpadding {
    padding-left: 55px;
    padding-right: 81px; }
  .forg-button:hover {
    background-color: #f16d7fa8;
    transform: scale(0.9, 0.9); }

.forg-pass {
  text-decoration: none;
  display: flex;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  justify-content: center;
  align-items: center; }
  .forg-pass_fbmarg {
    padding-left: 32px; }
  .forg-pass:hover {
    color: #f16d7f; }

.shipping-reg__Required {
  color: #ff0d0d;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; }
  .shipping-reg__Required_marnul {
    margin: 0 0 14px; }

.shipping-reg__sup {
  color: #ff0d0d;
  font-size: 17px;
  font-weight: 400; }

.shipping-reg__h3 {
  color: #222222;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase; }
  .shipping-reg__h3_h3mbtnul {
    margin: 0 0 10px 0; }

.shipping-reg__input {
  width: 390px;
  height: 45px;
  border: 1px solid #eaeaea;
  padding-left: 10px; }

.container__line {
  background-color: #e8e8e8; }

.baner-prod {
  height: 777px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7; }

.product-back {
  background: url(../img/pr_back.jpg) no-repeat;
  height: 100%;
  background-position: center;
  display: flex;
  align-items: center; }

.gray-box {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.gray-box_boxleft {
  width: 47px;
  height: 47px;
  background-color: #d8d8d8;
  text-decoration: none;
  display: flex;
  color: #ffffff;
  font-weight: 400;
  align-items: center;
  justify-content: center; }
  .gray-box_boxleft:hover {
    background-color: #f16d7fa8; }
.gray-box_boxright {
  width: 47px;
  height: 47px;
  background-color: #d8d8d8;
  text-decoration: none;
  display: flex;
  color: #ffffff;
  font-weight: 400;
  align-items: center;
  justify-content: center; }
  .gray-box_boxright:hover {
    background-color: #f16d7fa8; }

.wcol {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-top: -73px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 119px; }

.red-h3 {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 45px; }

.greyh3 {
  max-width: 147px;
  border: 1px solid #eaeaea; }

.redh3 {
  max-width: 63px;
  height: 3px;
  border: 1px solid #ef5b70;
  background-color: #ef5b70;
  margin-top: -12px; }

.moschino-h1 {
  color: #4d4d4d;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  justify-content: center; }

.moschino-p {
  margin: 67px 0 28px 0;
  text-align: center;
  width: 644px;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; }

.description {
  display: flex;
  justify-content: space-around;
  padding: 0 112px 0 112px;
  margin-bottom: 37px; }

.descrip {
  color: #b9b9b9;
  font-weight: 700;
  text-transform: uppercase; }
  .descrip_color {
    color: #2f2f2f;
    font-weight: 700;
    text-transform: uppercase; }

.wcol-price {
  color: #ef5b70;
  /*font-size: 24px */
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-bottom: 43px; }

.wcol-h3 {
  max-width: 642px;
  border: 1px solid #eaeaea; }

.depiction {
  display: flex;
  justify-content: space-around;
  margin-bottom: 28px;
  padding: 0 32px 0 32px; }

.ch-color-p {
  color: #2f2f2f;
  font-weight: 700;
  text-transform: uppercase;
  position: relative; }

.ch-color_input {
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding-left: 14px; }

.red-color {
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding-left: 14px;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px; }
  .red-color_pl {
    padding-left: 37px; }

.colred {
  border: none;
  background-color: white;
  width: 20px;
  position: absolute;
  margin-top: -30px;
  margin-left: 14px; }

.ch-quanti_s {
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding-left: 14px;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px; }

.collection-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
  width: 537px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  padding: 16px 0;
  margin-bottom: 122px;
  transition: transform 1s ease-in-out; }
  .collection-link:hover {
    box-shadow: 0 0 8px 2px;
    transform: scale(0.9);
    font-weight: 900; }

.collection-img {
  color: #ef5b70;
  padding-right: 12px; }

.may-likeh2 {
  margin-bottom: 71px;
  display: flex;
  justify-content: center;
  color: #4d4d4d;
  font-weight: 400;
  text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
